* {
    margin: 0;
    padding: 0;
}

body {
    color:antiquewhite;
    background-color: rgb(33, 102, 104);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
    width: 510px;
    padding: 20px;
    margin: 100px auto;
    background-color: rgb(17, 60, 61);
    border-radius: 5%;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
    width: 230px;
    padding: 10px;
    background-color: rgb(33, 102, 104, 0.3);
    border-radius: 3%;
    
}

.websites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 400px;
    width: 240px;
    background-color: rgb(33, 102, 104, 0.2);
    border-radius: 3%;
}

.photo {
    height: 100px;
    width: 100px;
    margin: 20px auto;
    background-color: rgb(1, 13, 13);
    border-radius: 50%;
}

.description {
    padding: 15px 5px;
    text-align: center;
}

.site {
    width: 200px;
    height: 40px;
    cursor: pointer;
}